@include media-breakpoint-down(lg) {
	.top-line {
		.brand {
	    padding-right: 0px; 
		}
	  .info {
	    margin-right: 20px;
		}
	}

	.quizz-promo {
		padding-right: 20px;
		padding-left: 20px;
	}

	.profit {
		margin-left: 0px;
		margin-top: 36px;
	}

	.quizz-promo .profit__item .profit__img {
	 margin-right: 19px; 
	 margin-left: 0px; 
	}

	.quizz-buttons-group {
		padding-top: 20px;
	}
	.quizz-buttons label {
		margin-bottom: 20px; 
	}

	.quizz-buttons .group-budjet label[for^=budjet] {
		width: 210px;
		padding: 16px 0px 16px 10px;
	}

	.quizz-offer__5flats .offer-title {
		font-size: 16px;
	}

	.quizz-offer__5flats .offer-content {
		margin-left: 0;
		img {margin-right: 20px; }
		p { font-size: 20px; }
	}

	.quizz-offer__5flats .offer-сta {
		margin-left: 0;
		img {margin-right: 20px; }
		p { font-size: 14px; }
	}

	.profit__text p {
		font-size: 16px;
		line-height: 24px;
	}
	
	.s-details .b-details__title {
		font-size: 34px;
		line-height: 54px;
		text-transform: uppercase;
		letter-spacing: 2.72px;
		margin-top: 20px;
		margin-bottom: 24px;
		letter-spacing: 2.72px;
	}

	.s-details .b-banners {
		.banner-3, .banner-4 {
		 padding-left: 0px;
		}
		.banner-4 {
			margin-left: 0px;
		}
	}
	.s-details .b-moreinfo__text {
		font-size: 20px;
		font-weight: 800;
		line-height: 30px;
		letter-spacing: 0.96px;
	}

	.s-details .b-moreinfo__btn {
		margin-left: 0;
	}

	.s-benefits .b-benefits-item {
		min-width: auto;
		flex: 0 0 calc(100%/3 - 10px);
		margin-bottom: 20px;
	}

	.s-ipoteka .b-polis__img-polis {
		margin-left: -390px;
		margin-top: 14px;
	}
	
	.s-ipoteka .b-polis__img-gif {
		margin-left: 280px; 
		margin-top: 152px;
	}

	.s-ipoteka .b-ipoteka__title {
		font-size: 30px;
		line-height: 46px;
		margin-bottom: 16px;
	}

	.s-ipoteka .b-partners {
		margin-top: 78px;
		margin-bottom: 60px;
	}

	.s-ipoteka .partners .partner {
		flex: 0 0 25%;
		min-height: 94px;
		margin-bottom: 26px;
	}

	.b-forma form.callback input[type="tel"] {
		width: 270px;
	}

} // end media-breakpoint-down(lg)


// ===============================================
@include media-breakpoint-down(md) {

	.header_bg {height: 800px;}

	.top-line .info { padding-top: 0; margin-top: -6px;}
	.top-line .manager__text { display: none; }
	.top-line .manager__img { display: none;}

  .hero .profit__item { 
  	flex: 0 0 50%; 
		&:nth-child(odd) {
  	margin-left: -17px;
    }
  }

  .s-quizz .container { max-width: 992px; }
  .quizz-wrap { max-width: 98%; margin: auto; }
  .s-quizz__title { text-align: center;  }
  .quizz {min-width: 728px;}
  .quizz-buttons { padding: 36px 30px 51px 30px; }

  .quizz-buttons label {
  	width: 220px;
  	.with-pic { 
  		font-size: 13px; 
			&:before {
			 width: 8px;
			 height: 8px;
			}
    }
  }
  .quizz-nav { font-size: 12px;}
  .quizz-buttons label.not-know {
		padding: 10px 20px;
		font-size: 12px;
		line-height: 12px;
	}

	.quizz-buttons .group-rooms {flex: 0 1 60%; }
	.quizz-buttons .group-decoration {flex: 1 1 20%; }
	.quizz-buttons .group-budjet {flex-wrap: wrap;}
	.quizz-buttons .group-budjet label[for^=budjet] { flex: 1 1 30%; 	max-width: 200px; }

	.quizz-offer__manager {	margin-top: 60px; }
	.quizz-offer__5flats .offer-title { font-size: 14px; }	
	.b-forma { padding-top: 25px; }
	.b-forma.white-forma .b-forma__text { max-width: 100%; }
	.b-forma.white-forma form.callback input[type="tel"].icon {
		margin-bottom: 20px; margin-right: 0; width: 270px;
	}
	.b-forma form.callback .privacy .cta-btn__large { 
		min-width: 270px; float: none !important;
	}

	.quizz-offer__5flats { min-height: 150px;}
	.quizz-offer__5flats .offer-content {
		margin-left: 0;
		img {margin-right: 20px; width: 30px; height: auto;}
		p { font-size: 16px; }
		span { font-size: 34px; line-height: 34px}
	}

	.quizz-offer__5flats .offer-сta {
		margin-left: 0;
		img {margin-right: 20px; width: 30px; height: auto; }
		p { font-size: 12px; line-height: 18px; }
	}

	.s-details { margin-top: 30px;}
	.s-details .b-details__title { text-align: center; }
	.s-details .b-details__subtitle { text-align: center; max-width: 400px; margin: auto; margin-bottom: 30px; }
	.s-details .b-details__items { 
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.s-details .b-details__item { 
		flex: 0 0 48%; 
		&:last-child { display: inline-block; margin: auto; }
	}
	.s-details .b-banners {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 10px 4% 10px 4%;
		min-height: 200px;
		margin-top: 30px;
		margin-bottom: 30px;
		.banner-1  { width: 30%; 	order: 1; padding-bottom: 10px;}
		.banner-2  { 	width: 30%; order: 2; padding-bottom: 10px;}
		.banner-3  { 	width: 50%; order: 4; padding-bottom: 10px;}
		.banner-4  { 	width: 40%; order: 3; padding-bottom: 10px;}
		.b-banners__text { order: 5; padding-bottom: 10px; line-height: 51px;}
	}
	.s-details .partner__text { font-size: 16px; line-height: 22px; }
	.s-details .b-moreinfo__text { font-size: 14px; line-height: 22px; padding-top: 50px; }
	.s-details .b-moreinfo__btn { margin-left: -50px; }
	.s-benefits { padding-top: 40px; }
	.s-benefits__title { text-align: center; margin: auto; padding-bottom: 52px;}
	.s-benefits .b-benefits-item__text { font-size: 14px; }
	.s-benefits .b-benefits-item { padding: 30px 30px 20px 30px; }

	.s-reviews { 
		min-height: 330px;
		padding-top: 40px;
		padding-bottom: 46px;
		&__title { margin-bottom: 30px;}
		.review { flex: 0 1 32%; min-height: 320px; }
		.review-frame { width: 100%; height: auto; }
		.review-photo { width: 75%; height: auto;  top: 22px; left: 20px; }
		.review-photo__text { width: 100%; height: auto;  }
	}
	
	.s-ipoteka { padding-top: 0; padding-bottom: 10px; }
	.s-ipoteka .b-ipoteka__banner {;padding-top: 70px; }
	.s-ipoteka .b-polis__text { margin-left: 30px; margin-top: 130px; }
	.s-ipoteka .b-polis__img-polis { margin-left: -670px; margin-top: 0px; }
	.s-ipoteka .b-polis__img-gif { margin-left: 60px; margin-top: 204px; }
	.s-ipoteka .b-ipoteka__title { font-size: 30px; line-height: 46px; margin-bottom: 16px; }
	.s-ipoteka .b-partners { margin-top: 78px; margin-bottom: 60px; }
	.s-ipoteka .partners .partner { flex: 0 0 25%; min-height: 65px; margin-bottom: 20px; }

	.s-forma { min-height: 530px;}
	.b-forma { padding-top: 50px; }
	.b-forma__title { font-size: 30px; line-height: 46px;  }
	.b-forma__text { font-size: 16px; line-height: 24px; }
	.b-buklet__img { width: 500px; height: auto; margin-left: -140px; margin-top: 18px; }
	.b-forma form.callback .privacy .cta-btn__large { z-index: 3; }

	.s-address .b-address { width: 290px; }	

	.lbox .lbox2-forma-wrapper .container-lbox2 {
		.b-buklet__img { width: 500px; height: auto; margin-left: -70px; margin-top: 0px; }
	 	.b-forma__title { font-size: 20px;  line-height: 30px; z-index: 3; }
	 	.b-forma__text { font-size: 14px; line-height: 20px; max-width: 340px;}
	 	.b-forma form.callback .formhead { font-size: 12px; }
	 	.b-forma form.callback { margin-top: 20px; }
	 	.b-forma form.callback input[type="tel"].icon { margin-bottom: 20px;}
   	.b-forma form.callback .privacy { max-width: 270px; float: none !important; }
	}

} // end media-breakpoint-down(md)

// ===============================================
@include media-breakpoint-down(sm) {

	.top-line .brand__img { display: none;}
	.top-line .brand__text { padding-left: 0px; padding-right: 10px; }
	.top-line .tel { margin-left: 10px; }
	.hero .hero__title { font-size: 32px; line-height: 50px; margin-left: 0px; margin-top: 80px; text-align: center;}
	.hero .hero__title span { display: block; font-size: 26px; opacity: 0.6; font-weight: 600;}

	.hero .profit__item:nth-child(odd) {  margin-left: 0px; }
	.hero .cta-btn {margin: auto; margin-top: 10px; margin-bottom: 40px; }
	.header_bg { max-height: 750px;}
	
	.s-quizz { display: none; }
	
	.s-details .b-banners__text { font-size: 14px; }
	.s-details .b-moreinfo__img {display: inline-block; width: 100%; height: auto; }
	.s-details .b-moreinfo .btn-md-visible {display: none;}
	.s-details .b-moreinfo .btn-md-invisible {display: block;} 
	.s-details .b-moreinfo .moreinfo-1 { 	// float: right; 
	}
	.s-details .b-moreinfo .moreinfo-2 { 	// float: left;
		position: relative;
		.b-moreinfo__text { 
			font-size: 12px;
			display: block; position: absolute; 
			top: 0px; left: 40px;}
		.btn-md-invisible { 
			display: block; 
			position: absolute; 
			top: 100px; left: 89px;	
			z-index: 2;
		}
	}
	
	.s-benefits { background: #f7f7f7 url("../img/bg-2-sm.png") center center;
		 background-size: cover;  padding-top: 60px; padding-bottom: 60px;
	}
	
	.s-benefits .b-benefits-item {
	    min-width: auto;  flex: 0 0 calc(100%/2 - 10px); margin-bottom: 20px;
	}
	
 .s-ipoteka {
 .b-ipoteka { padding-left: 15px;	 padding-right: 15px;}
 .b-ipoteka__banner {text-align: center;}
 .b-ipoteka__title  {text-align: center;}
 .b-ipoteka__subtitle {text-align: center;}
 .b-ipoteka .profit__item {
		margin-left: 0px;
		padding-bottom: 40px;
		flex: 0 0 45%;
	}
  .b-polis__img-polis { margin-left: 0px; margin-top: -440px;  }
  .b-polis__img-gif { margin-left: 360px;  margin-top: -210px; z-index: 1;}
  .b-polis__text { margin-left: 160px;  margin-top: -200px; width: 400px;}

  .b-ipoteka .profit__btn { margin-top: 80px; margin-left: 90px; z-index: 2; }
  .b-partners { margin-top: 40px; margin-bottom: 60px; }
  .b-partners__title { background-color: #fff;}
	}
	
	.b-forma { padding-top: 50px; }
	.b-forma__title { font-size: 30px; line-height: 46px;  }
	.b-forma__text { font-size: 16px; line-height: 24px; }
	
	.b-forma form.callback { margin-bottom: 50px;}
	.b-forma form.callback input[type="tel"].icon { width: 270px; margin-bottom: 15px;}
	.b-forma form.callback .privacy { float: left !important ; }
	
	.b-buklet__img { width: 500px; height: auto; margin-left: -120px; margin-top: 22px; }
	
	.s-address .b-address { border: 8px solid darken(#f0f0f0, 15%); padding: 14px 20px; }
	
	.lbox .lbox2-forma-wrapper .container-lbox2 { 
	  .b-forma form.callback { margin-bottom: 10px; }
		.b-forma__title { font-size: 16px; line-height: 24px; }
	}

} // end media-breakpoint-down(sm) 


// ===============================================
@import "slick-dots";   
@include media-breakpoint-down(xs) {

.header_bg { min-height: 1200px; }
.top-line {
	padding-top: 20px;
	.brand { flex-wrap: wrap; max-width: 260px;
		.xs-wrap { width: 100%; }
		}
	.brand__text { 
		display: flex; 
		justify-content: center; 
		align-items: center;
		margin-bottom: 20px;
		border-right: none;
		.brand__name { flex: 1 0 50%; line-height: 0.8;}
		.brand__promo { flex: 1 0 50%; padding-top: 0; opacity: 1; margin-left: 0;}
	}
	.info { 
		flex: 0 0 100%; 
		text-align: center; 
		font-size: 14px;
		max-width: 260px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0px;
		span {display: inline-block;}
	}
	.manager { 
		flex: 1 1 100%; 
		justify-content: center; 
		padding-top: 30px; 
		border-top: 1px solid darken(#f0f0f0, 55%);
	}
	.tel { 	
		flex: 0 0 100%;   
		max-width: 210px;
		.tel__cb { text-align: center;}
		img { display: none;}
	}
}

.hero .hero__title { 
	max-width: 380px; 
	margin: 40px auto 0; }
.hero .cta-btn { margin-top: 50px;}
.hero .profit__item { 
	flex-direction: column;
	justify-content: start;
	align-items: center !important;
	flex: 1 1 100%;
	min-height: 70px;
	padding: 0 0px;
	margin-bottom: 30px;
	&:nth-child(even) { margin-left: 0%;}
	img {
		margin-right: 0; 
		margin-top: 0; 
		margin-bottom: 10px;
		width: 14px;
		height: 14px;
	}
	.profit__text { text-align: center; }
  }

.s-details {
.b-details .zastroischiki {
 	display: block; 
 	margin: 40px auto 40px;
 	border: 5px solid #f0f0f0;
 }
 .b-details__subtitle { max-width: 240px; }
 .b-details__items { 
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: start;
 	max-width: 300px;
 	margin: auto;
 }
 .b-details__item  {  flex: 0 0 100%; }
 .b-details__item:last-child { margin-left: 0;}

.b-moreinfo .moreinfo-2 .b-moreinfo__text {
    font-size: 10px;
    line-height: 1.3;
    top: -10px;
    left: 40px;
}
.b-moreinfo .moreinfo-2 .btn-md-invisible {
    top: 80px; left: 80px;
}

 .b-banners { display: none; }
}

.s-benefits {
 &__title { 
 	max-width: 300px;
 	font-size: 28px;
 	line-height: 1.4;
 }
 .b-benefits-item {
 	flex: 0 0 100%;
 	max-width: 300px;
 	margin: auto;
 	margin-bottom: 20px;
 }
}

.s-reviews {
	max-height: 700px;
 &__title {
	 max-width: 300px;
 	 font-size: 28px;
 	 line-height: 1.4;
 	 margin: auto;
 	 margin-bottom: 40px;
	}
 .review {
 	max-height: 280px;
 	max-width: 240px;
	margin: 0 auto 10px;
	// flex: 0 0 100%;
  }
 .review-photo {
   width: 75%;
   height: auto;
   top: 20px;
   left: 16px;
   }

	.slick-track {
    left: calc(50vw - 120px);
  }
}  

.s-ipoteka .b-ipoteka {
	display: block; max-width: 360px; 
	margin:  auto	; margin-bottom: 50px;
	&__banner { font-size: 22px; padding-top: 60px;}
	&__title { font-size: 22px; line-height: 1.4; }
	&__subtitle { font-size: 14px; max-width: 360px; margin: auto; line-height: 1.4; margin-bottom: 30px;}
		span {display: inline-block;}
	.profit { margin-top: 20px; }
  .profit__item {  
  	flex: 0 1 100%; 
  	justify-content: start;
  	align-items: start;
  	max-width: 170px;  
  	margin: auto; 
  	padding-bottom: 25px; 
  	img { margin-top: 4px; margin-right: 8px; }
    .profit__text p {
  	font-size: 16px;
  	line-height: 1.2;
 	 }
 	}
}

.s-ipoteka {
	padding-bottom: 60px;
	.b-polis__img-gif { 
		margin-left: 350px; margin-top: -205px; 
		width: 25px; 	height: 25px;}
	.b-polis__img-polis { margin-left: 20px; margin-top: -460px;	}
	.b-polis__text {  
		margin-top: -210px;  font-size: 12px; margin-left: 170px;
	}
	.b-ipoteka .profit__btn { margin-top: 80px; margin: auto; 
		.cta-btn { 
			margin-left: 0; 
			margin-top: 7rem;
			margin-bottom: 0 !important;
		}
	}
	.b-partners { 
		max-width: 360px;
		margin: auto;
		&__title span { font-size: 12px; line-height: 1.2;}
		&__title span:before {border: 0 }
		&__title span:after {border: 0 }
		.partner { 
			flex: 0 0 50%; 
			margin-bottom: 0;
			margin-top: -16px;
		}
	}
}

.s-forma {
	background-size: cover;
	.b-forma { padding-left: 40px; 
		&__title { font-size: 24px; line-height: 1.3;}
		&__text { max-width: 300px;}
	}
	.b-buklet__img { margin-left: -230px; margin-top: 60px;}
}

.s-address {
	.b-address { 
		text-align: center; 
		width: 260px;
		padding-top: 30px;
		margin-left: 30px;
		&__title {  font-size: 18px; line-height: 1.2; }
		&__call .tel { font-weight: 800;}
		&__address {
			margin-bottom: 30px;
			.street span { display: block; line-height: 1.2; }
		}
	}
}

.s-footer { display: none; }


} // end media-breakpoint-down(xs)